@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@if (Model.Count == 0)
{
    <h2>We don't have any customers yet.</h2>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Details", "Customer", new { id = customer.Id })">@customer.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}

